.pie-charts-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    /* background: red; */
    align-items: center;
    justify-content: center;
}

.chartjs-size-monitor, canvas {
	max-width: 49%;
}


.legend {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 10px;
    line-height: 12px;
  }
